<nav class="navbar navbar-default navbar-expand bg-primary navbar-dark fixed-top"> <!-- fixed-top -->
  <div class="container-fluid">
    <div class="navbar-header collapse navbar-collapse page-scroll">
        <a href="{{ site.github.url | replace:'http:','https:' }}/"><img class="site-logo" src="{{ site.github.url | replace:'http:','https:' }}/{{ site.logo }}" ></a>
        <a class="navbar-brand page-scroll" href="{{ site.github.url | replace:'http:','https:' }}/">{{site.title}}</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

      <form class="d-flex">
        <div class="collapse navbar-collapse" id="navbarColor05">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <!-- <a href="#page-top"></a> -->
                    <a href="{{ site.github.url | replace:'http:','https:' }}/"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.github.url | replace:'http:','https:' }}/#mission">{{site.data[site.language].whatWeDo}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.github.url | replace:'http:','https:' }}/#blog">Posts</a>
                </li>
               <li class="nav-item">
                   <a class="nav-link" href="{{ site.github.url | replace:'http:','https:' }}/people/">People</a>
               </li>
            </ul>
        </div>
      </form>
    </div>
  </div>
</nav>

{% comment %}

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <a href="{{ site.github.url | replace:'http:','https:' }}/"><img class="site-avatar" src="{{ site.github.url | replace:'http:','https:' }}/{{ site.avatar }}" /></a>
              <!--
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              -->
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item">
                      <!-- <a href="#page-top"></a> -->
                      <a href="{{ site.github.url | replace:'http:','https:' }}/"></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ site.github.url | replace:'http:','https:' }}/#mission">{{site.data[site.language].whatWeDo}}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ site.github.url | replace:'http:','https:' }}/#blog">Blog</a>
                  </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{{ site.github.url | replace:'http:','https:' }}/people/">People</a>
                 </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
  {% endcomment %}
